<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>TiTle</title>
    <meta name="description" content="웹페이지.">
    <!-- css -->
    <link rel="stylesheet" href="../../static/common/css/default.css" as="style">

</head>
<body>
    <div id="main_location">
        <div id="root">
            <!-- header 고정 -->
            <header class="main_header">
                <div class="main_header_content">
                    <div class="main_header_title">WebSite</div>
                    <div class="mainheader_navigation">
                        <div class="header_navigator1">pangData목록</div>
                        <div class="header_navigator2">원하는페이지작성</div>
                    </div>
                </div>
            </header>
            <div class="master_header">master_header</div>
            <div class="header_content">2</div>
            <article class="pangData">pangData목록</article>
            <article class="미정">4</article>
        </div>
    </div>
</body>
</html>